body {
    min-height: 100vh;
    padding-top: 50px;
}

#bios {
    span {
    font-family: 'Bungee', 'Courier New', Courier, monospace;
    color: darkmagenta;
    }

    p {
        text-align: justify;
        max-width: 60rem;
    }
}

.carousel {
    max-width: 720px;
    margin: auto;
}

.carousel-indicators li {
    filter: invert(100%);
}

.dropShadow {
    box-shadow: 4px 4px 8px black;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    position: sticky;
    width: 100%;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.1); }

h1, h3, h4 {
    font-family: 'Bungee', 'Courier New', Courier, monospace;
    color:azure;
    text-align: center;
    text-shadow: 3px 3px 4px black;
}

#hero{
    background-image: url("/img/ghost-xxl.jpg");
    background-size: cover;
    padding: 1rem;
}

@media (max-width: 991px) {
    #hero{
        background-image: none;
        background-color: black;   
    }
}

.hex-bg {
    background-color: none;
    background-image: linear-gradient(225deg, rgba(45, 54, 83, .7), rgba(51, 51, 77, .1)), url(/img/HexPattern.png);
}

.navbar {
    background-color: black;
    }

.navbar {
    li {
        font-family: 'Tenby-Six', 'Arial Narrow', Arial, sans-serif;
    }
}

@media (max-width: 576px) {
    nav {
        li {
            text-align: center;
            font-size: 2rem;
            outline: 1px solid white;
        }
        
        img {
            max-width: 250px !important;
        }
    }
}

#storeLinks {
    .glow:hover {
        box-shadow: 0 0 15px white;
    }
}